export PGHOST="localhost"
export PGPORT="5432"
export PGDATABASE="myapp"
export VAULT_TOKEN="root"
export KC_URL="http://localhost:8080"
export KC_REALM="myapp"
export KC_REDIRECT_URI="http://localhost:8000/auth/callback"
export REDIS_HOST="localhost"
export REDIS_PORT="6379"
