export VAULT_TOKEN="root"

export KC_HOSTNAME="http://localhost:8080"
export KC_REALM="myapp"

# If SSL certificates are configured
# export KC_HOSTNAME="https://localhost/keycloak"
# export CADDY_TLS_CONFIG="tls /app/certs/cert.pem /app/certs/key.pem"
# export CADDY_SSL_KEY_FILE="./output/certs/localhost-key.pem"
# export CADDY_SSL_CERT_FILE="./output/certs/localhost.pem"

# For /examples code
export CLICK_CLI_APP_ENDPOINT="http://localhost"
# export CLICK_CLI_APP_ENDPOINT="https://localhost"
export CLICK_CLI_CLIENT_ID="click-cli"
export CLICK_CLI_CLIENT_SECRET="HSwKAH361bd6ptb7HyD0ldjs3ETslGwteylrFnBgemEUbm3SuoptgU3fahpSBAWNdMDTgRavElxm2YZUfAHBmw"
